# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/migrations/*/
.env
/prisma/dev.db
/prisma/dev.db-journal
.env*
.env*.local
